rs.initiate(
{
    _id: "{{ group_names[0] }}",
    members: [
{% for h in groups[ group_names[0] ]%}
          { _id: {{ loop.index }}
            , host : "{{ h }}:{{ cfgserver_port }}"
	    , priority: 1 
          }
{% if not loop.last %}
        ,
{% endif %}
{% endfor %}
     ]
});
