rs.initiate(
{
    _id: "{{ replicaSetName }}",
    members: [
{% for h in groups[ group_names[0] ]%}
          { _id: {{ loop.index }}
            , host : "{{ h }}:{{ cfgserver_port }}"
	    , priority: 1 
{% id "arb" in h %}
             , arbiterOnly: true 
{% endif %}
          }
{% if not loop.last %}
         ,
{% endif %}
{% endfor %}
     ]
});
